@font-face {
    font-family: "castledownHeavy";
    src: url("assets/fonts/castledown-bold-pro.woff") format("woff");
}
@font-face {
    font-family: "castledownReg";
    src: url("assets/fonts/castledown-regular-pro.woff") format("woff");
}
@font-face {
    font-family: "castledownDotted";
    src: url("assets/fonts/castledown-dotted-regular-pro.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'castledownHeavy', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

img {
    width: 100%;
    mix-blend-mode: luminosity;
  }

iframe{
  width: 12em;
  height: 8em;
}

a{
  color: inherit;
  font-style: oblique;
}

#print_title{
  position: absolute;
  font-size: 10em;
  color: rgb(239, 239, 239);
  z-index: -9;
  bottom: 0;
  left: 0;
  line-height: 0.9;
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    z-index: 999;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.507);
    backdrop-filter: blur(6px);
    button {
      margin-right: 10px;
      background-color: none;
      font-family: "castledownReg";
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      width: 10rem;
    }
    input[type="range"] {
      flex-grow: 1;
    }
    ul {
      list-style: none;
      margin: 0;
    }
  }

  .container {
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.01em;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    overflow-y: scroll;
    /* box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
      inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5); */
    padding: 0.5em;
    padding-top: 6em;
  }

  .annotation p{
    display: block;
    margin: 0.5em;
  }

  @page {
    size: 841mm 1189mm;
    margin: 0;
  }

  @media print{
    .container{
    height: 100%;
    display: flex;
    font-size: 49px;
    padding-top: 0.5em;
    line-height: 1;
    }

    header{
        display: none;
    }

    #print_title{
      position: absolute;
      font-size: 40em;
    }
  }
