@font-face {
    font-family: "castledownHeavy";
    src: url("assets/fonts/castledown-bold-pro.woff") format("woff");
}
@font-face {
    font-family: "castledownReg";
    src: url("assets/fonts/castledown-regular-pro.woff") format("woff");
}
@font-face {
    font-family: "castledownDotted";
    src: url("assets/fonts/castledown-dotted-regular-pro.woff") format("woff");
}

body {
    font-family: 'castledownHeavy', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(240,240,240);
}

